.b-bio {
  margin: 15px 0 0;

  @media (min-width: $bp-small) {
    margin: 40px 0 0;
  }

  .top {
    position: relative;
    padding: 22px 0 284px;
    overflow: hidden;
    min-height: 283px;

    @media (min-width: $bp-small) {
      padding: 22px 0 30px;
      overflow: visible;
    }

    .inner-wrap {
      @include clearfix();
    }

    .img {
      position: absolute;
      top: 100%;
      left: 50%;
      width: 300px;
      margin-top: -262px;
      @include translate(-50%, 0);

      @media (min-width: $bp-small) {
        left: 0;
        top: 0;
        height: 100%;
        overflow: hidden;
        width: auto;
        margin: 0;
        @include transform(none);
      }

      @media (min-width: $bp-middle) {
        left: 111px;
      }
    }

    &:after {
      @include pseudo-block($right: 100%, $bottom: 0);
      height: 47px;
      background: $color;
      width: 100%;
      @include skewX(41deg);
      z-index: -1;
      margin-right: 78px;
    }
  }


  .title {
    margin: 0;

    &:before {
      display: none;
    }

    @media (min-width: $bp-small) {
      float: right;
      width: 388px;
    }

    @media (min-width: $bp-middle) {
      width: 409px;
    }
  }

  h1 {
    font-family: $AvianoSansBold;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 3px;
    font-size: 25px;
    margin: 0;
    //max-width: 500px;

    @media (min-width: $bp-small) {
      font-size: 31px;
    }

    span {
      font-size: 31px;
      display: block;

      @media (min-width: $bp-small) {
        font-size: 39px;
      }

      @media (min-width: $bp-middle) {
        font-size: 47px;
      }
    }
  }

  .btn-wrap {
    margin: 0 0 31px;

    @media (min-width: $bp-small) {
      margin: 0 0 71px;
      text-align: right;
    }

    @media (min-width: $bp-middle) {
      margin: 0 0 71px -60px;
      text-align: left;
    }
  }

  .position {
    font-size: 11px;
    font-family: $AvianoSansBold;
    color: $color-6;
    text-transform: uppercase;
    line-height: 1;
    padding: 0;


    @media (min-width: $bp-small) {
      font-size: 12px;
    }
  }

  .desc {
    max-width: 571px;
    margin: 0 auto;
    padding: 40px 0;
    position: relative;
    color: #2f2f2f;

    @media (min-width: $bp-small) {
      padding: 100px 0;
    }

    &:after {
      @include pseudo-block($top: 0, $left: 50%);
      width: 100vw;
      height: 100%;
      background: #e4e4e4;
      @include translate(-50%, 0);
      z-index: -1;
    }

    p {
      margin: 0 0 36px;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }
}