.section-endorsements {
  text-align: center;
  font-family: $montserrat-light;
  color: $color-9;
  line-height: 1.2;
  padding: 80px 0 50px;

  @media (min-width: $bp-middle) {
    padding: 140px 0 109px;
  }

  .container {
    height: auto;
  }

  .inner-wrap {

    @media (min-width: $bp-small) {
      position: relative;
      left: auto;
      top: auto;
      width: auto;
      @include transform(none);
    }
  }

  h3 {
    font-size: 18px;
    text-transform: none;
    font-family: $montserrat-light;
    line-height: 1.3;
    position: relative;
    letter-spacing: 0.03em;
    padding: 11px 0 17px;
    margin: 0 0 8px;

    @media (min-width: $bp-small) {
      padding: 19px 0 29px;
      font-size: 30px;
      margin: 0 0 18px;
    }

    &:after, &:before {
      @include pseudo-block($left: 50%);
      border: 1px solid $color-1;
      @include transform(skewX(-41deg) translate(-50%, 0));
      height: 31px;

      @media (min-width: $bp-small) {
        height: 50px;
      }
    }

    &:after {
      top: 100%;
      margin-left: -90px;

      @media (min-width: $bp-small) {
        margin-left: -113px;
      }
    }

    &:before {
      bottom: 100%;
      margin-left: 38px;

      @media (min-width: $bp-small) {
        margin-left: 80px;
      }
    }
  }

  .before-title {
    font-size: 100px;
    line-height: 0;

    @media (min-width: $bp-small) {
      font-size: 160px;
    }
  }

  .sub-title {
    font-size: 10px;
    color: $color-1;
    margin-bottom: 37px;

    @media (min-width: $bp-small) {
      font-size: 12px;
      margin-bottom: 62px;
    }
  }

}