html {
  height: 100%;
  -webkit-font-smoothing: antialiased;

  &.desktop {

    a[href^="tel"] {
      cursor: default;
      pointer-events: none;
    }
  }
}

body {
  min-height: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.8;
  color: $color;
  font-family: $HelveticaNeue;
  min-width: 320px;

  @media (min-width: $bp-small) {
    line-height: 2;
    font-size: 14px;
  }
}

*, :after, :before {
  @include box-sizing(border-box);
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1, h2, h3 {
  font-family: $AvianoSansBold;
  text-transform: uppercase;
}

h1, h2 {
  font-size: 24px;
  margin: 0 0 20px;

  @media (min-width: $bp-middle) {
    font-size: 48px;
  }
}

h1 {
  line-height: 0.9;
}

h2 {
  line-height: 1;
}

h3 {
  font-size: 18px;
  margin: 0 0 16px;
  line-height: 1.8;
  letter-spacing: 2px;

  @media (min-width: $bp-small) {
    font-size: 20px;
    margin: 0 0 18px;
  }

  @media (min-width: $bp-middle) {
    font-size: 24px;
  }
}

p {
  margin: 0 0 16px;
}

ul, ol {
  margin: 0;
  padding: 0 0 0 16px;

  li {
    margin: 0 0 16px;
    padding: 0;
  }
}

a {
  //color: $color;
  color: $color-1;
  text-decoration: none;

  &:hover {
    text-decoration: underline;

    & > span[style*="color"] {
      text-decoration: underline;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.mobile-only {
  display: block;

  @media (min-width: $bp-small) {
    display: none;
  }
}

iframe {
  width: 100%;
}

