@font-face {
  font-family: 'AvianoSansBold';
  src: url('../fonts/AvianoSansBold.woff') format('woff'),
  url('../fonts/AvianoSansBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvianoSans';
  src: url('../fonts/AvianoSans.woff') format('woff'),
  url('../fonts/AvianoSans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aviano-sans-black';
  src: url('../fonts/aviano-sans-black.woff') format('woff'),
  url('../fonts/aviano-sans-black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN-Medium';
  src: url('../fonts/DIN-Medium.woff') format('woff'),
  url('../fonts/DIN-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'din-cond-bold';
  src: url('../fonts/din-cond-bold.woff') format('woff'),
  url('../fonts/din-cond-bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.woff') format('woff'),
  url('../fonts/HelveticaNeue.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-light';
  src: url('../fonts/montserrat-light.woff') format('woff'),
  url('../fonts/montserrat-light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-regular';
  src: url('../fonts/montserrat-regular.woff') format('woff'),
  url('../fonts/montserrat-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SSSocialRegular';
  src: url('../fonts/ss-social-regular.eot');
  src: url('../fonts/ss-social-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ss-social-regular.woff') format('woff'),
  url('../fonts/ss-social-regular.ttf') format('truetype'),
  url('../fonts/ss-social-regular.svg#SSSocialRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}